<div class="swipe-cont" [style.transform]="swiperTransform" [class.transitioning]="isTransitioning">
    <ng-container *ngFor="let stat of statsData | keyvalue">
        <ng-container *ngTemplateOutlet="statSection; context: {stat: stat.value, statbartype: stat.key === 'distance' ? 'chunk' : 'block', negative: stat.key === 'score'}"></ng-container>
    </ng-container>
</div>


<ng-template #statSection let-stat="stat" let-statbartype="statbartype" let-negative="negative">
    <div class="stat-section-cont" [style.height]="statHeight+'px'"
                                    [style.--unitheight]="100/(stat.max_value-(stat.min_value || 0))+'%'"
                                    [style.--barheaddisplay]="statbartype=='chunk'? 'inline' : 'none'"
                                    style='--dfltuniturl: url("../../assets/stats_bar_{{statbartype}}.svg");
                                           --neguniturl: url("../../assets/stats_bar_neg_{{statbartype}}.svg")'>
        <div class="stat-title">{{ stat.title }}</div>
        <div class="stat-content">
            <div class="scroll-cont">
            <ng-container [ngTemplateOutlet]="barsContainer" [ngTemplateOutletContext]="{stat: stat, sign: 1}"></ng-container>
            <div class="labels-cont">
                <div *ngFor="let user of stat.personal_values" class="bar-label" [style.--value]="stringWrap(user.value)"
                                                                        [style.--username]="stringWrap(user.username)">
                    {{ user.username }}
                </div>
            </div>
            <ng-container *ngIf="negative" [ngTemplateOutlet]="barsContainer" [ngTemplateOutletContext]="{stat: stat, sign: -1}"></ng-container>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #barsContainer let-stat="stat" let-sign="sign">
    <div class="bars-cont" [class.negative]="sign<0">
        <div *ngFor="let user of stat.personal_values" class="stat-bar" [style.--value]="stringWrap(user.value)"
                                                                        [style.--username]="stringWrap(user.username)">
            <ng-container *ngIf="(user.value*sign)>0">
                <div *ngFor="let _ of range(abs(user.value))" class="bar-unit"></div>
            </ng-container>
        </div>
    </div>
</ng-template>