<ng-container [ngSwitch]="questData.state">
    <ng-container *ngSwitchCase="'unopened'">
        <div class="quest-unopened-card" (click)="openCard()">
            <p>Click to open!</p>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'active'">
        <ng-container *ngTemplateOutlet="openQuestCard"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'validating'">
        <div class="quest-validating-card">
            <p>validating</p>
        </div>
    </ng-container>
</ng-container>

<ng-template #openQuestCard>
    <div class="quest-opened-card">

        <ng-container [ngSwitch]="questData.ban_state">

            <ng-container *ngSwitchCase="'banning'">
                <div class="ban-state-info" [style.--tooltipcontent]="stringWrap('Über '+questData.item.name+' wird gerade abgestimmt.')">!</div>
            </ng-container>

            <ng-container *ngSwitchCase="'banned'">
                <div class="ban-state-info" [style.--tooltipcontent]="stringWrap(questData.item.name+' wurde gebannt. Du kannst ohne Konsequenzen aufgeben!')">!</div>
            </ng-container>

            <ng-container *ngSwitchDefault></ng-container>

        </ng-container>


        <div>{{ questData.verb.imp }} {{ questData.victim.username }} mit {{ questData.item.prep }} {{ questData.item.name }}</div>
        

        <div class="quest-btn-cont">

            <ng-container [ngSwitch]="actionState">
                <ng-container *ngSwitchCase="'distance'">
                        <input type="number" placeholder="Entfernung von zuhause" [(ngModel)]="distance">
                        <button (click)="actionState=''; openModal(getSuccessConfirmMessage(), requestKillVal.bind(this))">OK</button>
                        <button (click)="actionState=''">Abbrechen</button>
                </ng-container>

                <ng-container *ngSwitchCase="'ban_note'">
                        <input type="text" placeholder="Dein Kommentar" [(ngModel)]="ban_note">
                        <button (click)="actionState='';openModal('Willst du '+questData.item.name+' wirklich bannen?', initBan.bind(this))">{{ questData.item.name }} bannen</button>
                        <button (click)="actionState=''">Abbrechen</button>
                </ng-container>

                <ng-container *ngSwitchDefault>
                        <button (click)="openModal(
                            'Du willst wirklich aufgeben?',
                            surrender.bind(this))">Aufgeben</button>
                        <button (click)="actionState='distance'">Erfüllt!</button>
                        <button *ngIf="!['banned', 'banning'].includes(questData.ban_state)" (click)="actionState='ban_note'">{{ questData.item.name }} bannen</button>
                </ng-container>
            </ng-container>

        </div>

    </div>
</ng-template>