<ng-container *ngIf="questData.unopened; then unopenedBlock else openedBlock"></ng-container>
<ng-template #unopenedBlock>
    <div (click)="openCard()">
        <p>Click to open!</p>

    </div>
</ng-template>
<ng-template #openedBlock>
    <div>
        <p>!{{ questData.verb.imp }} {{ questData.victim.username }} mit {{ questData.prep }} {{ questData.item.name }}</p>
        <div *ngIf="enterDistance; then distanceInput else defaultActions"></div>
        <ng-template #distanceInput>
            <input type="number" placeholder="Entfernung von zuhause" [(ngModel)]="distance">
            <button (click)="enterDistance=false;openModal(
                'Du hast {{ questData.victim.username }} aus einer Entfernung von {{ distance }} km mit {{ questData.prep }} {{ questData.item.name }} {{ questData.verb.ge }}',
                requestKillVal.bind(this))">OK</button>
        </ng-template>
        <ng-template #defaultActions>
            <button (click)="openModal(
                'Du willst wirklich aufgeben?',
                surrender.bind(this))">Aufgeben</button>
            <button (click)="enterDistance=true">Erfüllt!</button>
        </ng-template>
    </div>
</ng-template>
