<div *ngIf="userIsAuthenticated(); then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div routerLink="dashboard" class="dashboard-btn">📜</div>
</ng-template>
<ng-template #elseBlock>
    <div routerLink="login" class="login-btn">Login</div>
</ng-template>


<app-unread-logs (closeEvent)="closeUnreadLogs()" *ngIf="showUnreadLogs" [unreadLogs]="unreadLogs"></app-unread-logs>

<div id="info-container">
    <router-outlet></router-outlet>
</div>
<div id="bottom-nav-bar">
    <div routerLink="stats">Stats</div>
    <div routerLink="logs">Logs</div>
    <div routerLink="blogs">Blogs</div>
</div>