<div *ngIf="userIsAuthenticated(); then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div routerLink="dashboard" class="dashboard-btn"></div>
</ng-template>
<ng-template #elseBlock>
    <div routerLink="login" class="login-btn">Login</div>
</ng-template>


<app-unread-logs (closeEvent)="closeUnreadLogs()" *ngIf="showUnreadLogs" [unreadLogs]="unreadLogs"></app-unread-logs>

<div id="info-container">
    <router-outlet></router-outlet>
</div>
<div id="bottom-nav-bar">
    <input type="radio" name="nav" id="stats" routerLink="stats">
    <label for="stats">
        <img src="../../assets/nav_stats.svg" alt="">
    </label>
    <input type="radio" name="nav" id="logs" routerLink="logs">
    <label for="logs">
        <img src="../../assets/nav_logs.svg" alt="">
    </label>
    <input type="radio" name="nav" id="blogs" routerLink="blogs">
    <label for="blogs">
        <img src="../../assets/nav_blogs.svg" alt="">
    </label>
</div>