<div class="overlay" (click)="handleButtonClick($event)">

    <div id="reading-log-card-container" [class.active]="['reading', 'read'].includes(readingState)">
        <app-log-card *ngIf="readingLogSwitch" [entry]="readingLog" [sessionUsername]="sessionUsername"></app-log-card>
    </div>

    <div id="unread-logs-btn" class="unread-logs-message" [class.nounread]="readingState === 'nounread'"
                                                            [class.unread]="readingState === 'unread'"
                                                            [class.reading]="readingState === 'reading'"
                                                            [class.read]="readingState === 'read'">
        <p>{{ unreadLogs.length }}</p>
    </div>

    <div class="tap-instructor center-text">
        &lt; tippen &gt;
    </div>

</div>