<div id="entry_container">
    <div class="entry" *ngFor="let entry of entries">
        <div *ngIf="entry.hasOwnProperty('surrender'); then logBlock else infoBlock"></div>
        <ng-template #logBlock>
            <div *ngIf="entry.surrender; then surrenderedBlock else killedBlock"></div>
            <ng-template #surrenderedBlock>
                <p>{{ entry.killername }} hat es nicht geschafft, {{ entry.victimname }} mit {{ entry.item.prep }} {{ entry.item.name }} {{ entry.verb.zu }}</p>
            </ng-template>
            <ng-template #killedBlock>
                <p>{{ entry.killername }} hat {{ entry.victimname }} mit {{ entry.item.prep }} {{ entry.item.name }} {{ entry.verb.ge }}</p>
            </ng-template>
        </ng-template>
        <ng-template #infoBlock>
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.message }}</p>
        </ng-template>
    </div>
</div>