.quests-card
    width: 90%
    height: 70%
    background-color: green
    border-radius: 20px
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: flex-start
    padding: 40px 0

    