.quests-card
    width: 90%
    height: 70%
    background-color: green
    border-radius: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly

    