<div class="overlay">

    <div id="new-item-card">
        <div id="new-item-input">
            <p>Frodo hat Gollum mit</p>
                <div id="item-input-cont">
                    <select name="prep" id="prep-input" [(ngModel)]="itemData.prep">
                        <option value="einer ">einer</option>
                        <option value="einem ">einem</option>
                        <option value="">-</option>
                    </select>
                    <input type="text" id="item-input" placeholder="Gegenstand" [(ngModel)]="itemData.name">
                </div>
            <p>umgebracht.</p>
        </div>
        <button id="item-send-btn" (click)="openModal(getItemConfirmMessage(), submitNewItem.bind(this))"></button>
        <button routerLink=".." id="item-close-btn"></button>
    </div>
</div>