<p>dashboard works!</p>
<button (click)="logoutUser()">Logout</button>
<button routerLink='../stats'>Home</button>
<div class="action-board">
    <app-kill-val *ngFor="let val of vals; index as i; trackBy: getQuestId" [valData]="val" (requestClose)="closeVal(i)"></app-kill-val>
    <app-ban-vote *ngFor="let ban of bans; index as i; trackBy: getBanId" [banData]="ban" (requestClose)="closeBan(i)"></app-ban-vote>
</div>
<router-outlet></router-outlet>
<button routerLink="quests">Quests</button>
<button routerLink="newitem">New Item</button>